
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white-color);
    z-index: 2;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.header__margin {
    margin-top: 160px;
}
