.shopping-guide, 
.terms-of-services {
    padding-top: 50px;
    padding-bottom: 50px;


    h1 {
        font-size: 3rem;
        padding-bottom: 30px;
    }

    label {
        font-size: 1.6rem;
        line-height: 3rem;
    }
}

.returns-policy-change {
    padding-top: 50px;
    padding-bottom: 50px;


    h1 {
        font-size: 3rem;
        padding-bottom: 30px;
    }

    li {
        font-size: 1.6rem;
        line-height: 3rem;
    }
}